:root{
    --secundario: #C64024;
    --tercero: #E37159;
    ---

}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    color: brown;
    text-transform: uppercase;
    font-size: 3.8rem;
}

h1.titulo span {
    font-size: 2rem;
    color: brown;
}

.titulo span{
    font-size: 2rem;
    color: #BA4D36;
}

.contenedor {
    width: 120rem;

    margin:  0 auto;
}

.navegacion-principal {
    background-color: var(--secundario);
} 
.navegacion-principal a{
    background-color:;
}