:root{
    --primario: #E37159;
    --secundario: #C64024;
    --blanco: white;
    --tercero: #BA4D36;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    font-family: 'Kiwi Maru', serif;
    background-color: #6D461D;
}

.titulo {
    text-align: center;
    color: brown;
    text-transform: uppercase;
    font-size: 3.8rem;
}
    
.titulo span{
    font-size: 2rem;
    color: var(--tercero);
}

.contenedor {
    max-width: 120rem;

    margin:  0 auto;
}

.nav-bg {
    background-color: var(--secundario);
} 

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.navegacion-principal a:hover{ /* Cambia de color la opción */
    background-color: var(--primario);
}

.hero {
    background-image: url(../img/madera_inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}