:root {
    /* Colores */
    --primario: #E37159;
    --secundario: #C64024;
    --blanco: white;
    --tercero: #BA4D36;
    --cuarto: #86715B;
    --quinto: #E08F3A;
    --sexto: #955C20;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'Kiwi Maru', serif;
    background-color: #6D461D;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    /* Creación boton */
    background-color: var(--cuarto);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {

    /* Ajustar tamaño */
    .boton {
        width: auto;
    }
}

.sombra {
    -webkit-box-shadow: 10px 7px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 7px 15px 0px rgba(0,0,0,0.75);
box-shadow: 10px 7px 15px 0px rgba(0,0,0,0.75);
background-color: var(--quinto);
padding: 2rem;
border-radius: 1rem;
}

/* ---------- */

/* Tipografía*/
h1 {
    font-size: 3.8rem;
    color: brown;
    text-align: center;
    text-transform: uppercase
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* ----------- */

/* Titulos */
.titulo span {
    /*Titulo pequeño*/
    font-size: 2rem;
    color: var(--tercero);
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.navegacion-principal a:hover {
    /* Cambia de color la opción */
    background-color: var(--primario);
}

.hero {
    /* Imagen principal */
    background-image: url(../img/canape_inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    text-align: center;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    /* Difuminado imagen */
    width: 100%;
    height: 100%;
}

.ubicacion {
    /* Texto ubicación */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

/* Contacto */
.formulario {
    background-color: var(--sexto);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2 rem;
    color: var(--primario);
}